<!DOCTYPE html>

<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<title> Surabhya Aryal ~ Blog Spot </title>
	</head>

	<body>
		 	<h1 class="main" align="center">  
		 		<a href="/blog" class="main-title" text-decoration="None">Aryal ~ Blog Spot </a>
		 	</h1>
		 	<h5 align="right">
		 		<a href="/blog/addblog" class="main-title">addblog</a> |	 	
		 		<a href="/login" class="main-title">login</a> |
				<a href="/logout" class="main-title">logout</a> |
		 		<a href="/signup" class="main-title">signup</a>
			</h5>

		<div id="content">
			 {% block content %}
			 {% endblock %}
		</div>
	
	</body>

</html>